.center {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}
  


h1 {
  text-align: center;
}

.sidebar {
  float: left;
  width: 20%;
  padding: 20px;
  border: dotted black;
  border-width: 20px;
  background-color: yellow;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.dates {
  font-weight: bold;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

div {
  float: right;
  padding-right: 40px;
  width: 420px;
  border: dotted black;
  border-width: 20px;
  background-color: yellow;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.size {
  width: 300px;
  padding:40px;
  
}